html{
  background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/72850/bf83144c9de9a7bc7aeaab9d165bdbd695b6eb4d.jpg);
  background-position: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 1em;
  max-width: 1920px;
  max-height: 1080px;
  width: auto;
  height: auto;
}

.dCaesar{
  display: none;
  background: rgba(0, 0, 0, 0.658);
  position: fixed;
  width: 34%;
  height:100%;
  color: aliceblue;
  font-size: 1.5em;
  text-align: center;
}
#btnCaesar{
  bottom: 15%;
  left: 9%;
  position: fixed;
  background-color: rgb(104, 26, 33);
  color: white;
  border: none;
  width: 15%;
  height:8%;
  font-size: 1.1em;
}
#btnCaesar:hover{
  background-color:rgb(141, 65, 65);
}

.keygif{
  filter: sepia(100%);
  opacity: 0.5;
  max-width: 15%;
  max-height: 25%;
  width: auto;
  height: auto;
  margin: 0%;
  z-index:1;
  position:fixed;
  right:11%;
  top:54%;

}

.keygif:hover{
  opacity: 1;
 }

.padlock{
  opacity:0.5;
  filter: sepia(100%);
  max-width: 20%;
  max-height: 30%;
  width: auto;
  height: auto;
  margin: 0%;
  z-index:1;
  position:fixed;
  right:10%;
  top:4%;
}
.padlock:hover{
 opacity: 1;
}

.box1{
  position: fixed;
  top: 8%;
  left: 37%;
  color: #020405;
  text-align: left;
  max-height: 20%;
  max-width: 30%;
  height: auto;
  width: auto;
}

.box2{
  position: fixed;
  left: 69%;
  top: 9%;
  color: #020405;
  text-align: left;
  max-height: 5%;
  max-width: 5%;
  height: auto;
  width: auto;
  }

.box3{
  
  position: fixed;
  left: 37%;
  top: 32%;
  color: #020405;
  text-align: center;
  max-height: 20%;
  max-width: 50%;
  height: auto;
  width: auto;
}

.box4{
  
  position: fixed;
  left: 37%;
  top: 50%;
  color: #020405;
  text-align: left;
  max-height: 20%;
  max-width: 30%;
  height: auto;
  width: auto;
}

.box5{
  position: fixed;
  left: 69%;
  top: 55%;
  color: #020405;
  text-align: left;
  max-height: 5%;
  max-width: 5%;
  height: auto;
  width: auto;
}

.box6{
  position: fixed;
  left: 37%;
  top: 80%;
  color: #020405;
  text-align: center;
  max-height: 20%;
  max-width: 50%;
  height: auto;
  width: auto;
}

.offsetBox{
  max-width: 100%;
  max-height:150%;
  
  font-size: 1.5em;
  font-family: 'Kodchasan', sans-serif;
}

.msg{
  font-size: 1.5em;  
  color: rgb(199, 184, 184);

}

.msgbox{
  font-family: 'Kodchasan', sans-serif;
  background-color: rgba(92, 38, 38, 0);
  font-size: 1.5em;
  border: none;
  border-bottom: 2px solid rgb(255, 249, 249);
  color: white;
  width: 100%;
}