html{
  background-image: url(http://uploaddeimagens.com.br/images/001/863/312/original/background.png);
  background-position: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Kodchasan', sans-serif;
  max-width: 1920px;
  max-height: 1080px;
  width: auto;
  height: auto;
  
}
body{
  
}


.block1{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
  max-width: 7%;
  max-height: 15%;
  width: auto;
  height: auto;
  margin: 0%;
  z-index:0;
  position:fixed;
  right:15%;
  top:10%;
  border-radius: 10%;
}

.keygif{
  filter: sepia(100%);
  opacity: 0.5;
  max-width: 7%;
  max-height: 15%;
  width: auto;
  height: auto;
  margin: 0%;
  z-index:1;
  position:fixed;
  right:15%;
  top:10%;

}

.keygif:hover{
  opacity: 1;
 }


.block2{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
  max-width: 7%;
  max-height: 15%;
  width: auto;
  height: auto;
  margin: 0%;
  z-index:0;
  position:fixed;
  right:15%;
  top:58%;
  border-radius: 10%;
}

.padlock{
  opacity:0.5;
  filter: sepia(100%);
  max-width: 7%;
  max-height: 15%;
  width: auto;
  height: auto;
  margin: 0%;
  z-index:1;
  position:fixed;
  right:15%;
  top:58%;
}
.padlock:hover{
 opacity: 1;
}

.box1{
  position: fixed;
  top: 8%;
  left: 37%;
  color: #020405;
  text-align: left;
  max-height: 20%;
  max-width: 30%;
  height: auto;
  width: auto;
}

.box2{
  position: fixed;
  left: 69%;
  top: 8%;
  color: #020405;
  text-align: left;
  max-height: 5%;
  max-width: 5%;
  height: auto;
  width: auto;
  }

.box3{
  
  position: fixed;
  left: 37%;
  top: 32%;
  color: #020405;
  text-align: center;
  max-height: 20%;
  max-width: 50%;
  height: auto;
  width: auto;
}

.box4{
  
  position: fixed;
  left: 37%;
  top: 50%;
  color: #020405;
  text-align: left;
  max-height: 20%;
  max-width: 30%;
  height: auto;
  width: auto;
}

.box5{
  position: fixed;
  left: 69%;
  top: 55%;
  color: #020405;
  text-align: left;
  max-height: 5%;
  max-width: 5%;
  height: auto;
  width: auto;
}

.box6{
  position: fixed;
  left: 37%;
  top: 80%;
  color: #020405;
  text-align: center;
  max-height: 20%;
  max-width: 50%;
  height: auto;
  width: auto;
}

.offsetBox{
  max-width: 100%;
  max-height:150%;
  
  font-size: 1.5em;
  font-family: 'Kodchasan', sans-serif;
}

.msg{
  font-size: 1.5em;  

}

.msgbox{
  font-family: 'Kodchasan', sans-serif;
  background-color: rgba(255, 0, 0, 0);
  font-size: 1.5em;
  border: none;
  border-bottom: 2px solid rgb(163, 156, 156);
  width: 100%;
}